.profile {
    display: block;
    width: 100%;
    max-width: 840px;
    height: 100%;
    max-height: 630px;
    max-width: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url('./img/mainBg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.profile::-webkit-scrollbar {
    width:0px;
}

.discribtion {
    display: flex;
    width: 100%;
    height: auto;
    padding: 30px 20px ;
}

.field {
    padding: 5px 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    border: 1px solid #707070;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: border-color .2s linear;
    color: #2B2A2C;
}

.field:focus {
    border-color: aqua;
    outline: none;
}