
.lofIntro {
    width: 100%;
    height: auto;
    padding: 20px;
}

.logTitle {
    margin-bottom: 50px;
}

.btn {
    padding: 5px 10px;
    margin-top: 10px;
    font-family: inherit;
    font-size: 10px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.5);
    transition: border-color .2s linear;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: #2B2A2C;
}

.btn:hover {
    border-color: aqua;
    outline: none;
    color: aqua;
}

.btn:focus {
    outline: none;
}

.someError {
    display: inline-block;
    border: 1px solid red;
    color: red;
    padding: 5px;
}

.example {
    display: flex;
}

.example p {
    font-size: 15px;
    font-weight: 300;
    margin-left: 200px;
}