* {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}
.main {
    display: block;
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
}
.base {
    display: flex;
}